*

!.gitignore
!/boot
!/boot/loader
!/boot/loader/entries
!/boot/loader/entries/**
!/boot/loader/loader.conf
!/etc
!/etc
!/etc/doas.conf
!/etc/dracut*
!/etc/fstab
!/etc/hostname
!/etc/locale.*
!/etc/localtime
!/etc/makepkg.conf
!/etc/makepkg.conf.d
!/etc/makepkg.conf.d/**
!/etc/pacman.conf
!/etc/paru.conf
!/etc/ssh
!/etc/ssh/sshd_config
!/etc/systemd
!/etc/systemd/**
!/home
!/home/tomas
!/home/tomas/.cache
!/home/tomas/.config
!/home/tomas/.config/*-flags.conf
!/home/tomas/.config/fish
!/home/tomas/.config/fish/**
!/home/tomas/.config/gtk-3.0
!/home/tomas/.config/gtk-3.0/**
!/home/tomas/.config/hypr
!/home/tomas/.config/hypr/**
!/home/tomas/.config/kitty
!/home/tomas/.config/kitty/**
!/home/tomas/.config/mako
!/home/tomas/.config/mako/**
!/home/tomas/.config/mpv
!/home/tomas/.config/mpv/**
!/home/tomas/.config/npm
!/home/tomas/.config/npm/**
!/home/tomas/.config/nvim
!/home/tomas/.config/nvim/**
!/home/tomas/.config/systemd
!/home/tomas/.config/systemd/**
!/home/tomas/.config/uwsm
!/home/tomas/.config/uwsm/**
!/home/tomas/.config/wgetrc
!/home/tomas/.config/wofi
!/home/tomas/.config/wofi/**
!/home/tomas/.config/wpaperd
!/home/tomas/.config/wpaperd/**
!/home/tomas/.local
!/home/tomas/.local
!/home/tomas/.local/share
!/home/tomas/.local/share
!/home/tomas/.local/share/emojis.txt
!/home/tomas/.profile
!/home/tomas/Media
!/usr
!/usr/local
!/usr/local/bin
!/usr/local/bin/**

/home/tomas/.config/mpv/watch_later/**
colours
colours.conf
fish_variables
