input {
    keyboard {
        xkb {
            layout "cz"
            variant "coder"
        }
        numlock
    }
    focus-follows-mouse max-scroll-amount="0%"
    workspace-auto-back-and-forth
    disable-power-key-handling
}

output "DP-1" {
    mode "3840x2160@144.00"
    scale 1.0
    position x=2560 y=0
    variable-refresh-rate on-demand=true
    focus-at-startup
}

output "HDMI-A-1" {
    mode "2560x1440@74.78"
    position x=0 y=0
    scale 0.79
}

layout {
    gaps 12

    center-focused-column "never"
    always-center-single-column

    preset-column-widths {
        proportion 0.33
        proportion 0.48
        proportion 0.65
        proportion 0.98
    }
    default-column-width { proportion 0.48; }

    preset-window-heights {
        proportion 0.25
        proportion 0.5
        proportion 0.75
        proportion 1.00
    }

    focus-ring {
        off
    }

    border {
        off
    }

    shadow {
        on
        draw-behind-window false
        softness 5
        spread 2
        offset x=0 y=0
    }

    struts {
        left 0
        right 0
        top 0
        bottom 0
    }

    tab-indicator {
        width 8
        gap 2
        length total-proportion=1.00
        position "right"
        place-within-column
    }
}

cursor {
    xcursor-theme "breeze_cursors"
    xcursor-size 34

    hide-when-typing
    hide-after-inactive-ms 2000
}

spawn-sh-at-startup "set-theme dark"

spawn-at-startup "i3bar-river"

spawn-at-startup "firefox"
spawn-at-startup "thunderbird"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/%Y-%m-%d %H-%M-%S.png"

animations {
    slowdown 0.9
}

window-rule {
    match app-id=r#"firefox$"# at-startup=true
    default-column-width { proportion 0.98; }
    open-focused true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"firefox$"# title="^Library$"
    open-floating true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    block-out-from "screen-capture"
}

window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

layer-rule {
    match namespace="^i3bar-river$"
    shadow {
        on
    }
    geometry-corner-radius 0
}

layer-rule {
    match namespace="^launcher$|^notifications$"
    shadow {
        on
    }
    geometry-corner-radius 10
}

binds {
    Mod+return               { spawn-sh "kitten @ --to unix:/tmp/kitty.socket launch --type=os-window --cwd=current || kitty --single-instance --listen-on unix:/tmp/kitty.socket"; }
    Mod+o                    { spawn "fuzzel"; }
    Mod+delete               { spawn "hyprlock"; }

    Mod+Tab                  { toggle-overview; }

    Mod+Shift+c repeat=false { close-window; }

    Mod+h                    { focus-column-left; }
    Mod+j                    { focus-window-down; }
    Mod+k                    { focus-window-up; }
    Mod+l                    { focus-column-right; }
    Mod+Control+h            { focus-column-first; }
    Mod+Control+l            { focus-column-last; }

    Mod+Shift+h              { move-column-left; }
    Mod+Shift+l              { move-column-right; }
    Mod+Shift+j              { move-column-to-workspace-down; }
    Mod+Shift+k              { move-column-to-workspace-up; }
    Mod+Alt+j                { move-window-down; }
    Mod+Alt+k                { move-window-up; }
    Mod+Alt+h                { consume-or-expel-window-left; }
    Mod+Alt+l                { consume-or-expel-window-right; }

    Mod+i                    { focus-monitor-next; }
    Mod+Shift+i              { move-window-to-monitor-next; }
    Mod+Backslash            { move-workspace-to-monitor-next; }

    Mod+Ctrl+j               { focus-workspace-down; }
    Mod+Ctrl+k               { focus-workspace-up; }
    Mod+WheelScrollDown      { focus-workspace-down; }
    Mod+WheelScrollUp        { focus-workspace-up; }

    MouseBack                { focus-column-right; }
    MouseForward             { focus-column-left; }
    Mod+MouseBack            { move-column-right; }
    Mod+MouseForward         { move-column-left; }

    Mod+bracketright         { switch-preset-column-width; }
    Mod+bracketleft          { switch-preset-column-width-back; }
    Mod+Shift+bracketleft    { switch-preset-window-height; }
    Mod+Shift+bracketright   { switch-preset-window-height-back; }

    Mod+m                    { maximize-column; }
    Mod+Shift+m              { maximize-window-to-edges; }
    Mod+f                    { fullscreen-window; }
    Mod+Shift+f              { toggle-windowed-fullscreen; }
    Mod+c                    { center-visible-columns; }

    Mod+Space                { switch-focus-between-floating-and-tiling; }
    Mod+Shift+space          { toggle-window-floating; }
    Mod+MouseMiddle          { toggle-window-floating; }

    Mod+y                    { toggle-column-tabbed-display; }

    Mod+s                    { screenshot show-pointer=false; }
    Mod+Shift+s              { screenshot-screen; }
    Mod+Control+s            { screenshot-window; }

    Mod+b                    { spawn-sh "pkill i3bar-river || i3bar-river-themed"; }

    Mod+v                    { spawn-sh "cliphist list | fuzzel --dmenu --prompt 'Clipboard item > ' | cliphist decode | wl-copy"; }

    Mod+w                    { spawn-sh "niri msg action focus-window --id $(niri msg windows | awk '/^Window ID/ { if ($0 ~ / \\(focused\\)$/) { id = \"\" } else { sub(\":\", \"\", $3); id = $3 } } /^  Title:/ && id != \"\" { if (match($0, /\"([^\"]*)\"/, m)) print id \": \" m[1] }' | fuzzel --dmenu --prompt 'Window > ' | cut -f 1 -d ':') 2>/dev/null"; }

    Mod+Shift+p              { spawn "keepassxc-fuzzy"; }

    Mod+n                    { spawn-sh "makoctl dismiss"; }
    Mod+Shift+n              { spawn-sh "makoctl dismiss -a"; }

    Mod+t                    { spawn "set-theme"; }
    Mod+comma                { spawn "wpaperctl" "previous"; }
    Mod+period               { spawn "wpaperctl" "next"; }

    Mod+g                    { spawn-sh "xdg-open \"$(fd -L . $HOME | sort -h | fuzzel --dmenu --prompt 'File > ')\""; }
    Mod+Shift+g              { spawn-sh "xdg-open \"$(fd --exclude=.cache --exclude=.local --exclude=.conda --exclude=.mozilla --exclude=.config --exclude=.steam -HL . $HOME | sort -h | fuzzel --dmenu --prompt 'File > ')\""; }
    Mod+e                    { spawn-sh "cat ~/.local/share/emojis.txt | fuzzel --dmenu --prompt 'Emoji > ' | cut -f 1 -d ' ' | wl-copy -n"; }

    Mod+Alt+p                { spawn "keepassxc" "~/.local/share/keepass/k.kdbx"; }

    Mod+left                 { spawn-sh "ddcutil --bus 5 --disable-dynamic-sleep --sleep-multiplier=0.01 --maxtries=1,1,1 setvcp 10 - 5 && pkill -RTMIN+10 i3status-rs"; }
    Mod+right                { spawn-sh "ddcutil --bus 5 --disable-dynamic-sleep --sleep-multiplier=0.01 --maxtries=1,1,1 setvcp 10 + 5 && pkill -RTMIN+10 i3status-rs"; }
    Mod+Shift+left           { spawn-sh "ddcutil --bus 5 --disable-dynamic-sleep --sleep-multiplier=0.01 --maxtries=1,1,1 setvcp 10 0   && pkill -RTMIN+10 i3status-rs"; }
    Mod+Shift+right          { spawn-sh "ddcutil --bus 5 --disable-dynamic-sleep --sleep-multiplier=0.01 --maxtries=1,1,1 setvcp 10 100 && pkill -RTMIN+10 i3status-rs"; }
    Mod+down                 { spawn-sh "ddcutil --bus 4 --disable-dynamic-sleep --sleep-multiplier=0.09 --maxtries=1,1,1 setvcp 10 - 5 && pkill -RTMIN+10 i3status-rs"; }
    Mod+up                   { spawn-sh "ddcutil --bus 4 --disable-dynamic-sleep --sleep-multiplier=0.09 --maxtries=1,1,1 setvcp 10 + 5 && pkill -RTMIN+10 i3status-rs"; }
    Mod+Shift+down           { spawn-sh "ddcutil --bus 4 --disable-dynamic-sleep --sleep-multiplier=0.09 --maxtries=1,1,1 setvcp 10 0   && pkill -RTMIN+10 i3status-rs"; }
    Mod+Shift+up             { spawn-sh "ddcutil --bus 4 --disable-dynamic-sleep --sleep-multiplier=0.09 --maxtries=1,1,1 setvcp 10 100 && pkill -RTMIN+10 i3status-rs"; }

    Ctrl+Alt+Delete          { quit; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}

include "colours.kdl"
